<div id="pageBlockCookieBanner" class="page-block cookie-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="cookie-banner__content">
          <p class="cookie-banner__text">{{ 'page_block_mod.cookie_banner_block.text'|trans }}</p>
          <a href="{{ path('page_block_mod.cookie_banner_block.accept') }}" class="cookie-banner__button">{{ 'page_block_mod.cookie_banner_block.accept'|trans }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
